<div class="gallery js-gallery">
  <!-- Картки зображень -->
  <div class="photo-card">
    <img
      class="photo-card__img"
      src="https://img.freepik.com/free-photo/the-cat-on-white-background_155003-15381.jpg?w=2000"
      alt=""
      loading="lazy"
    />
    <div class="photo-card__info">
      <p class="photo-card__info-item">
        <b>Likes</b>
      </p>
      <p class="photo-card__info-item">
        <b>Views</b>
      </p>
      <p class="photo-card__info-item">
        <b>Comments</b>
      </p>
      <p class="photo-card__info-item">
        <b>Downloads</b>
      </p>
    </div>
  </div>
</div>
