.search-form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.search-form{
    &__input{
        width: 30%;
        height: 40px;

        border-radius: 4px;
        border: 0px transparent;
    }
    &__btn{
        display: inline-block;
        width: 40px;
        height: 40px;
        
        border-radius: 100%;
        border: 0px;
    }
}